<footer class="footer-bar">
    <a class="footer-bar__icon">
        <img src="img/home-solid.svg" alt="Home icon" />
    </a>
    <a class="footer-bar__icon">
        <img src="img/comments.svg" alt="Comments icon" />
    </a>
    <button class="footer-bar__button">
        <img src="img/basket.svg" alt="Basket icon" />
    </button>
    <a class="footer-bar__icon">
        <img src="img/heart.svg" alt="Like icon" />
    </a>
    <a class="footer-bar__icon">
        <img src="img/user.svg" alt="User icon" />
    </a>
</footer>