<header class="webInfo">
    <section class="webInfo__webTitle">
        <h1>Food for Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </section>
    <figure class="webInfo__webImage">
        <img src="img/logo.png" alt="Logo de empresa" />
    </figure>
</header>