<section class="slider">
    <figure>
        <img src="img/tapas.svg" alt="Tapas icon" />
        <figcaption>Tapas</figcaption>
    </figure>
    <figure>
        <img src="img/breakfast.svg" alt="Breakfast icon" />
        <figcaption>Desayunos</figcaption>
    </figure>
    <figure>
        <img src="img/salad.png" alt="Salad icon" />
        <figcaption>Ensaladas</figcaption>
    </figure>
    <figure>
        <img src="img/fastfood.svg" alt="Brunch icon" />
        <figcaption>Almuerzos</figcaption>
    </figure>
    <figure>
        <img src="img/dinner.svg" alt="Dinner icon" />
        <figcaption>Cena</figcaption>
    </figure>
    <figure>
        <img src="img/dessert.svg" alt="Dessert icon" />
        <figcaption>Postres</figcaption>
    </figure>
    <figure>
        <img src="img/bebidas.svg" alt="Drink icon" />
        <figcaption>Bebidas</figcaption>
    </figure>
    <figure>
        <img src="img/all.svg" alt="All icon" />
        <figcaption>Todos</figcaption>
    </figure>
</section>