.footer-bar {
    height: 10vh;
    width: 100%;
    background: #FAFAFA;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px -5px 10px #B4B4B4);
}

.footer-bar a {
    border-width: 0px;
    border-style: outset;
    border-image: initial;
    background-color: transparent;
    cursor: alias;
}

.footer-bar button {
    background: #FF6900;
    width: 8vh;
    height: 8vh;
    border-radius: 50px;
    top: -50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 1px 3px hsl(0, 0%, 35%));
    border-width: 0px;
    border-style: outset;
    border-image: initial;
    cursor: pointer;
}

.footer-bar button img {
    width: 54%;
}

.footer-bar a img {
    height: 5vh;
    width: 4.5vh;
    position: relative;
}