main section:nth-child(2) {
  background-color: #fdfdfd;
  width: 100%;
  height: 55vh;
  overflow-x: auto;
  padding-left: 3%;
  padding-right: 3%;
}

main section article {
  width: 100%;
  display: flex;
  background: #ffffff;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-right: 3%;
  padding-left: 3%;
  position: relative;
}

main section article img {
  width: 24vw;
  height: 28vw;
  object-fit: cover;
  border-radius: 15px;
}

/* En los aside van al revés (even-odd) porque la etiqueta img les "cambia el orden" al ser el primer hijo*/
main section article aside:nth-child(even) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50vw;
  align-items: center;
}

main section article aside:nth-child(odd) {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

main section article aside p:nth-child(odd) {
  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
  line-height: 15px;
  color: gold;
  padding-bottom: 3%;
}

main section article aside h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.3vh;
  line-height: 14px;
  color: #000000;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 4%;
}

main section article aside h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.43);
  text-align: center;
}

main section article aside p:nth-child(even) {
  width: 35px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  border: none;
  color: black;
  line-height: 25px;
}

main section article aside button:nth-child(1) {
  width: 35px;
  height: 30px;
  border-radius: 0px 0px 10px 10px;
  border: none;
  background: #ededef;
}

main section article aside button:nth-child(3) {
  width: 35px;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
  border: none;
  background: #ededef;
}
